/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --green: #02b345;
  --black: #070304;
  --grey: #36383F;
  --lgreen: #e1edbd;
}
html
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 200;
  letter-spacing: -.05em;
}

body {
  background-color: var(--black);
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Header */
.header {
  background-color: transparent;
  box-shadow: 1px 1px 5px 0px var(--grey);
  position: sticky;
  top: 0;
  width: 100%;
}

/* Logo */
.logo {
  display: inline-block;
  color: var(--green);
  font-size: 60px;
  margin-left: 10px;

}

.logo img {
  height: 10vh;
}

/* Nav menu */
.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: transparent;
  overflow: hidden;
}

.menu a,
.menu p {
  display: block;
  padding: 30px;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s ease alternate infinite;
}

.menu a:hover {
  background-color: var(--grey);
}

.nav {
  max-height: 0;
  transition: max-height .5s ease-out;
}

/* Sub nav */
.subnav-content {
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s ease alternate infinite;
  width: 100%;
  z-index: 1;
  padding: 20px 0;
  display: none;
}
.subnavbtn {font-size: 15px;}
.subnav-content a {
  color: var(--black);
  text-decoration: none;
  padding: 0;
  margin: 10px 0;
  text-align: center;
}

.subnav:hover .subnav-content {
  display: block;
}

/* Menu Icon */

.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}


.hamb-line {
  background: var(--green);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;

}

.hamb-line::before,
.hamb-line::after {
  background: var(--green);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}


.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}


.side-menu {
  display: none;
}

/* Toggle menu icon */

.side-menu:checked~nav {
  max-height: 100%;
}

.side-menu:checked~.hamb .hamb-line {
  background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;

}

.side-menu:checked~.hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}


/* Responsiveness */

@media (min-width: 768px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;

  }

  .menu li {
    float: left;
  }

  .menu a:hover {
    background-color: transparent;
    color: var(--grey);

  }

  .hamb {
    display: none;
  }

  /* Sub nav */
  .subnav-content {
    padding: 20px 0;
    display: none;
    background-color: transparent;
  }

  .subnav-content a {
    color: white;
  }

}

/*video*/
.intro {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  margin-top: -14vh;
  left: 0;
  object-fit: cover;
}

h1 {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}


#homemain {
  font-family: 'VT323', monospace;
  width: 70vw;
  border: none;
}

h1 {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
  background-color: transparent;
  color: var(--green);
  margin-top: 70vh;
  font-size: 5vw;
}



#myDiv1 {
  height: 50vh;
  width: 96vw;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway';
  float: none;
  margin-top: 9vh;
  margin-left: 1vw;
}

.gradient-border1 {
  --borderWidth: 6px;
  background: black;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-border1:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


p {
  font-size: clamp(20px, 5vw, 40px);
  padding: 10vh 5%;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s ease alternate infinite;
}


span {
  opacity: .1;
}
.MagicScroll {height: 50vh; width: 100vw; }
.MagicScroll[data-mode="carousel"] {
    background-color: transparent;
}




/*footer*/
.footerlogo img {
  height: 10vh;
}




@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blinking {
  0% {
    border-right-color: transparent
  }

  50% {
    border-right-color: var(--green)
  }

  100% {
    border-right-color: transparent
  }
}


/*footer*/
#footerlogo {
  height: 100px;
}
br {height: 1vw}
