/* Theming */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --green: #02b345;
  --black: #070304;
  --grey: #36383F;
  --lgreen: #e1edbd;
}

/* Reset */
* {
  margin: auto;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 10px;
  width: 100vw;
}

.navbar-brand img{
  height: 150px;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.navbar-menu li {
  margin-right: 10px;
    background: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: alternate-reverse ease shine 3s infinite;

}

.navbar-toggle {
  display: none; /* Initially hide the hamburger menu */
}

.hamburger {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none; /* Hide the menu items on smaller screens */
  }

  .navbar-toggle {
    display: block; /* Display the hamburger menu */
    cursor: pointer;
  }
}


#myText {
  
  text-align: center;
  overflow: hidden;
    font-family: 'Share Tech', sans-serif;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s ease alternate infinite;
  margin-left: 10%;
    margin-right: 10%;
  }

#myDiv {
  height: 100vh;
  width: 96vw;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: 'Raleway';
  font-family: 'Raleway';
  font-size: 2.5rem;

}
 

.gradient-border {
  --borderWidth: 6px;
  background: black;
  position: relative;
  border-radius: var(--borderWidth);
  margin-left: 2vw;
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}


body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  z-index: 1000;
  margin-left: 10px;
}

h1 {
  font-size: 25px;
}

footer {
  height: 10vh;
  position: fixed;
  bottom: 0;
}

.scrollbar {
  position: relative;
  border-radius: 25px;
  //padding: 2.5px;
  color: white;
  background-color: #333;
  width: 150px;
  height: 10px;
  top: calc(5vh + 5px);
  left: 10px;
  text-align: center;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}






.container {
  //background-color: #000;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.wrapper {  
  display: flex;
  position: relative;
  
  height: 100vh;
  
/*   // all 800px elements + all 100vw elements + margins-right on all but the last element */
  width: calc( (800px * 8) + ((100vw - 20px) * 3) + (10px * 10) );
/*   width: 400px; */
  
  padding: 0px 10px;
  
  border-top: 10vh white solid;
  border-bottom: 10vh white solid; 
}

.thumbnail {
  display: inline-block;
  float: left;
  
  height: 80vh;
  
/*   // will become 800px in width because of the padding */
  width: 300px;
  color: white;

  padding: 10px;
  font-weight: 800;
  
  border-radius: 10px;
  
  margin-right: 40px;
  
  // opacity: 0.8;
}

.thumbnail:nth-child(1) {
  background-color: white;
    background-image: url("https://github.com/codingfreak420/valinwebdesigns/blob/main/developmentstation.png?raw=true");
  background-size: cover;
  background-position: center;
}

.thumbnail:nth-child(2) {
    background-color: white;
    background-image: url("https://github.com/codingfreak420/valinwebdesigns/blob/main/animepostnet.png?raw=true");
  background-size: cover;
  background-position: center;
}

.thumbnail:nth-child(3) {
     background-color: white;
    background-image: url("https://github.com/codingfreak420/valinwebdesigns/blob/main/iwant2beninja.png?raw=true");
  background-size: cover;
  background-position: center;
}

.thumbnail:nth-child(4) {
     background-color: white;
    background-image: url("https://github.com/codingfreak420/valinwebdesigns/blob/main/maybei2couldbeninja.png?raw=true");
  background-size: cover;
  background-position: center;
}

.thumbnail:nth-child(5) {
     background-color: white;
    background-image: url("https://github.com/codingfreak420/valinwebdesigns/blob/main/mountainfest.png?raw=true");
  background-size: cover;
  background-position: center;
}

.thumbnail:nth-child(6) {
     background-color: white;
    background-image: url("https://github.com/codingfreak420/valinwebdesigns/blob/main/newyorkoffice.png?raw=true");
  background-size: cover;
  background-position: center;
}

.thumbnail:nth-child(7) {
     background-color: white;
    background-image: url("https://github.com/codingfreak420/valinwebdesigns/blob/main/spookyst.png?raw=true");
  background-size: cover;
  background-position: center;
}

.thumbnail:nth-child(8) {
     background-color: white;
    background-image: url("https://github.com/codingfreak420/valinwebdesigns/blob/main/why%20does%20this%20guy%20look%20like%20me.png?raw=true");
  background-size: cover;
  background-position: center;
}

.thumbnail:nth-child(9) {
    background-color: teal;
}

.thumbnail:nth-child(10) {
    background-color: steelblue;
}

.thumbnail:nth-child(11) {
    background-color: salmon;
}

.thumbnail:last-child {
  margin-right: 0px;
  background-color: purple;
}



.full {
/*   // the second extra '-20px' on here is just related to the fake-pinning and having space to the right side, when it happens */
  width: calc(100vw - 20px - 20px);
}

