/* Theming */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --green: #02b345;
  --black: #070304;
  --grey: #36383F;
  --lgreen: #e1edbd;
}

/* Reset */
* {
  margin: auto;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 10px;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-right: 10px;
}

.navbar-toggle {
  display: none; /* Initially hide the hamburger menu */
}

.hamburger {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none; /* Hide the menu items on smaller screens */
  }

  .navbar-toggle {
    display: block; /* Display the hamburger menu */
    cursor: pointer;
  }
}


#myText {
  
  text-align: center;
  overflow: hidden;
  font-size: 40px
    font-family: 'Share Tech', sans-serif;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s ease alternate infinite;
  }

#myDiv {
  height: 98vh;
  width: 97vw;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: 'Raleway';
  font-family: 'Raleway';
  font-size: 2.5rem;

}

.gradient-border {
  --borderWidth: 6px;
  background: black;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}


body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  z-index: 1000;
  margin-left: 10px;
}

h1 {
  font-size: 25px;
}

footer {
  height: 10vh;
  position: fixed;
  bottom: 0;
}

.scrollbar {
  position: relative;
  border-radius: 25px;
  //padding: 2.5px;
  color: white;
  background-color: #333;
  width: 150px;
  height: 10px;
  top: calc(5vh + 5px);
  left: 10px;
  text-align: center;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}






.container {
  //background-color: #000;
}

.wrapper {  
  display: flex;
  position: relative;
  
  height: 80vh;
  
/*   // all 800px elements + all 100vw elements + margins-right on all but the last element */
  width: calc( (800px * 8) + ((100vw - 20px) * 3) + (10px * 10) );
/*   width: 400px; */
  
  padding: 0px 10px;
  
  border-top: 10vh white solid;
  border-bottom: 10vh white solid; 
}

.thumbnail {
  display: inline-block;
  float: left;
  
  height: 80vh;
  
/*   // will become 800px in width because of the padding */
  width: 300px;
  color: white;

  padding: 10px;
  font-weight: 800;
  
  border-radius: 10px;
  
  margin-right: 40px;
  
  // opacity: 0.8;
}

.thumbnail:nth-child(1) {
    background-color: red;
}

.thumbnail:nth-child(2) {
    background-color: navy;
}

.thumbnail:nth-child(3) {
    background-color: gray;
}

.thumbnail:nth-child(4) {
    background-color: orange;
}

.thumbnail:nth-child(5) {
    background-color: purple;
}

.thumbnail:nth-child(6) {
    background-color: black;
}

.thumbnail:nth-child(7) {
    background-color: green;
}

.thumbnail:nth-child(8) {
    background-color: darkred;
}

.thumbnail:nth-child(9) {
    background-color: teal;
}

.thumbnail:nth-child(10) {
    background-color: steelblue;
}

.thumbnail:nth-child(11) {
    background-color: salmon;
}

.thumbnail:last-child {
  margin-right: 0px;
}



.full {
/*   // the second extra '-20px' on here is just related to the fake-pinning and having space to the right side, when it happens */
  width: calc(100vw - 20px - 20px);
}


